@import '../../../components/variables.css';
@import '../admin-common.css';
@import '../../helpers.css';
.girdOne {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 22px;
}
.girdTwo {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 22px;
}
.headingMobile{
    font-size: 20px;
    margin-bottom: 18px;
    margin-top: 0;
    font-weight: 600;
}
.divider{
    margin: 2px 0 18px;
}
@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .girdOne {
        column-gap: 15px;
    }
    .girdTwo {
        grid-template-columns: 49% 49%;
        column-gap: 15px;
    }
}
@media screen and (max-width: 1023px) {
    .girdOne {
        grid-template-columns: 100%;
    }
    .girdTwo {
        grid-template-columns: 100%;
    }
}

/* Custom Toggle Switch */
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

input:checked + .slider:before {
  transform: translateX(26px);
}